{
    "key": "entoj-viewer",
    "name": "Entoj viewer",
    "description": "A simple entoj entity viewer",
    "version": "1.0",
    "vendor": {
         "name": "Syzygy GmbH",
         "url": "http://syzygy.de"
    },
    "baseUrl": "{{ global.configuration.get('server.baseUrl', 'http://localhost') }}/",
    "authentication": {
        "type": "none"
    },
    "modules": {
        "dynamicContentMacros": [
            {
                "key": "entoj",
                "name": {
                    "i18n": "entoj.viewer.name",
                    "value": "Entoj entity viewer"
                },
                "featured": true,
                "url": "/confluence/viewer/display/{entity}",
                "icon": {
                    "height": 80,
                    "url": "/confluence/viewer/images/favicon.png",
                    "width": 80
                },
                "imagePlaceholder": {
                    "width": 80,
                    "height": 80,
                    "url": "/confluence/viewer/images/favicon.png",
                    "applyChrome": true
                },
                "width": "100%",
                "height": "300px",
                "description": {
                    "i18n": "entoj.viewer.description",
                    "value": "Insert a entoj entity onto a page"
                },
                "parameters": [
                    {
                        "identifier": "site",
                        "name": {
                          "value": "Site"
                        },
                        "description": {
                          "value": "The name of the site (e.g. base)"
                        },
                        "type": "string",
                        "required": true,
                        "defaultValue": "base",
                        "hidden": false
                    },
                    {
                        "identifier": "entity",
                        "name": {
                          "value": "Entity"
                        },
                        "description": {
                          "value": "The id of a entity (e.g. a-cta)"
                        },
                        "type": "string",
                        "required": true,
                        "defaultValue": "a-cta",
                        "hidden": false
                    }
                ]
            }
        ]
    }
}
