{% extends '/base/templates/t-example' %}

{% block header %}
{% endblock %}
{% block content %}
    <h1>Display</h1>
    {% include 'base/atoms/a-cta/styleguide/text.j2' %}
{% endblock %}
{% block footer %}
{% endblock %}
