{% extends '/base/templates/t-example' %}

{% block header %}
	<script src="https://syzygyffm.atlassian.net/atlassian-connect/all.js"></script>
{% endblock %}
{% block content %}
    <div class="ac-content">
        {% include 'base/atoms/a-cta/styleguide/' + global.location.variant + '.j2' %}
    </div>
{% endblock %}
